/* daqianduan.com / d4.1 / 2011.08.27 / haozi / hao.chen@qq.com */
a{color:#333;text-decoration:none}
a:hover{color:#e20100}

.header{background:#B60000;border-bottom-color:#E76F6F}
.header-bg{background:#AF0000;border-bottom-color:#900000}

.nav{border-left-color:#900000;border-right-color:#CC0000}
.nav li{border-right-color:#900000}
.nav a{border-color:#CC0000}
.nav a:hover,.nav .current-menu-item a,.nav .current-post-ancestor a{background:#C40000;border-color:#D92C2C;color:#fff}
.nav a,.menu a{color:#EBD9D9}

.home-header .tit,.home-header .txt strong,.postmeta .tit{color:#333}

.post-list li:nth-child(even) a{color:#FF0000}

.excerpt .num strong a,.entry a,.entry strong,#postcomments a,.submain-tit a{color:#FF0000}

.primary{
	color:#fff;
	border-color:#900000;
	background-color:#B60000;
	background-image:-webkit-linear-gradient(#B60000,#A10000);
	background-image:-moz-linear-gradient(#B60000,#A10000);
	background-image:linear-gradient(#B60000,#A10000);
	box-shadow:0 1px 1px #e6e6e6,inset 0 1px 0 #CC0000;
	text-shadow:0 0 1px #00634D
}
.primary:hover{border-color:#900000;}
.primary:active{box-shadow:inset 0 1px 2px #900000}