a,input,button,select,textarea{outline:none}
.d_desc:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.d_desc{height:1%}

.d_tab a{border:#D1E5EE 1px solid;border-bottom:none;-moz-box-shadow:inset 0 1px 0 #fff;-webkit-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff;background:#F7FCFE;height:30px;font:14px/28px microsoft yahei;padding:0 12px;border-top-left-radius:3px;border-top-right-radius:3px;display:inline-block;margin-right:5px;cursor:pointer;color:#888;position:relative;bottom:-1px;z-index:10}
.d_tab a:hover{color:#D54E21}
.d_tab a.d_tab_on{background:#F7FCFE;border-bottom:#F7FCFE 1px solid;color:#21759B}

.d_mainbox{border:#D1E5EE 1px solid;border-radius:3px;border-top-left-radius:0;display:none;padding-bottom:36px}

.d_desc{background-color:#F5FAFD;border-top-right-radius:3px;background-image:-moz-linear-gradient(top,#f7fcfe,#eff8ff);background-image:-webkit-linear-gradient(top,#f7fcfe,#eff8ff);background-image:linear-gradient(top,#f7fcfe,#eff8ff);border-bottom:#D1E5EE 1px solid;padding:6px 12px;color:#999;line-height:23px;position:relative;margin-bottom:-36px;z-index:10}
.d_desc .button-primary{float:right}
.d_desc_b{border-bottom:0;border-top:#D1E5EE 1px solid;border-bottom-left-radius:3px;border-bottom-right-radius:3px}


.d_inner{padding:20px 0 10px 130px}
.d_inner h4{float:left;margin:4px 0 0 -105px;text-align:right;width:100px;font-size:12px;color:#21759B;position:relative}
.d_inner .d_this_desc{font-weight:normal;display:none;line-height:18px;text-align:left;position:absolute;width:146px;top:-5px;left:-174px;z-index:9999;border-left:#BED1DD 2px solid;border-bottom:#D1E5EE 1px solid;border-top:#D1E5EE 1px solid;border-right:#fff;background:#fff;padding:6px 8px;color:#2175AC;border-radius:2px}

.d_line{background:#e4e4e4;height:1px;overflow:hidden;display:block;clear:both;margin:15px 15px 20px -115px}

#wpcontent .d_inner select{border:#BED1DD 1px solid;padding:4px;height:29px;line-height:24px;border-radius:2px;width:100px;margin-right:5px;color:#444}

.d_inner input[type="text"] {border:#BED1DD 1px solid;border-right-color:#D1E5EE;border-bottom-color:#D1E5EE;padding:5px 6px;height:29px;width:90%;margin-bottom:6px;margin-right:5px}
.d_inner input[type="text"].d_inp_short{width:360px;display:inline}
.d_inner input[type="text"].d_inp_four{width:100px;display:inline}

.d_inner textarea{width:96%;min-height:46px;border:#D1E5EE 1px solid;border-left-color:#BED1DD;border-top-color:#BED1DD;background:#fff;padding:5px 6px;border-radius:2px;line-height:18px;color:#444;display:block;margin-top:6px;font-family:microsoft yahei;font-size:12px}

.d_inner input,.d_inner textarea{color:#888}
.d_inner input:focus,.d_inner textarea:focus{background-color:#F7FCFE;color:#222}

.d_port_btn{font-size:12px;font-weight:normal; display:inline-block}
.d_port_btn a{margin-left:12px;cursor:pointer}

.d_popup_mask{width:100%;height:100%;background:#000;opacity:.3;position:fixed;top:0;left:0;z-index:99998}
.d_popup{position:fixed;top:50%;left:50%;margin:-200px 0 0 -300px;width:600px;height:400px;border:#4E7D9A 1px solid;background:#fff;padding:12px;display:none;z-index:99999;box-shadow:0 0 10px #666}
.d_popup h3{border-bottom:#D1E5EE 1px solid;box-shadow:inset 1px 1px 1px #298CBA;background:#23769D;height:32px;font:bold 14px/32px microsoft yahei;margin:-12px -12px 0;color:#fff;position:relative;padding-left:12px;text-shadow:0 0 2px #195571}
.d_popup h3 input{float:right;margin:4px 12px 0 0}
.d_popup h4{margin:10px 0;font-weight:normal;font-size:12px}
.d_popup textarea{width:99%;min-height:330px;border:#D1E5EE 1px solid;border-left-color:#BED1DD;border-top-color:#BED1DD;background:#fff;padding:8px 10px;border-radius:2px;line-height:18px;color:#444}
.d_popup textarea:focus{border:#EDC97F 2px solid;background:#fff;padding:7px 9px}
.d_btn_this{text-align:center}

.dthemetip{float:right;margin-top:-28px;}

.d_the_desc{background:#EFF8FF;border:#BED1DD 1px solid;border-bottom-color:#D1E5EE;border-top-left-radius:3px;border-bottom-left-radius:3px;padding:5px 8px;color:#21759B;margin-right:-3px;position:relative;z-index:10;vertical-align:middle;top:-2px}

.d_adviewcon{width:96%;padding-top:5px;overflow:hidden}

#d_skin_random_1,#d_skin_random_1_desc,
#d_skin_random_2,#d_skin_random_2_desc,
#d_skin_random_3,#d_skin_random_3_desc,
#d_skin_random_4,#d_skin_random_4_desc,
#d_skin_random_5,#d_skin_random_5_desc{display:none}

.donate{width:280px;padding:4px;border:1px solid #F7B846;background-color:#FFF2E0;border-radius:0 0 0 3px;overflow:hidden;_zoom:1;margin:-37px 0 0 0;position:relative;z-index:100;}
.donate-num a{width:44px;height:25px;line-height:25px;text-align:center;display:inline-block;border:1px solid #ccc;background-color:#fff;margin-right:3px;border-radius:2px;color:#999;text-decoration:none;font-weight:bold;font-family:microsoft yahei;}
.donate-num a:hover{border-color:#aaa;color:#666;}
.donate-num a em{font-style:normal;margin-right:2px;}
.donate-num a.cur{background-color:#FEC048;border:1px solid #EF861F;color:#BB5925;}
.donate-btn{float:right;color: white;text-decoration:none;
border-radius: 2px;
border: #EF861F 1px solid;
background-color: #F6AC29;
background-image: -webkit-linear-gradient(#F6AC29,#FB9717);
background-image: -moz-linear-gradient(#F6AC29,#FB9717);
background-image: linear-gradient(#F6AC29,#FB9717);
box-shadow: 0 1px 1px #e4e4e4,inset 0 1px 1px #FFC54F;
padding: 4px 10px 4px;
cursor: pointer;margin-left:-10px;}
.donate-btn:active{box-shadow: inset 1px 1px 4px #EF861F;}
.donate-tit{font-size:12px;overflow:hidden;height:28px;line-height:28px;background-color:#FFE29D;
background-image: -webkit-linear-gradient(#FFE29D,#FFD879);
background-image: -moz-linear-gradient(#FFE29D,#FFD879);
background-image: linear-gradient(#FFE29D,#FFD879);
margin:-5px -5px 5px;padding:0 6px;color:#CF5925;border-bottom:1px solid #F7B846;box-shadow:inset 0 0 2px #fff;}
.donate-tit span{float:right;}
.donate-tit a{font-weight:100;color:#CF5925;text-decoration:none;}
.donate-tit a:hover{color:#000;}